<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col menu_fixed" ng-scrollbars ng-scrollbars-config="scrollConfig">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a href ui-sref="app.dashboard" class="site_title"><i class="fa fa-paw"></i> <span>St Augustine Manager</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
          <div class="profile_pic">
            <img src="assets/images/sacc.png" alt="..." class="img-circle profile_img">
          </div>
          <div class="profile_info">
            <span>Welcome,</span>
            <h2>Admin</h2>
          </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
              <li ui-sref-active="active">
                <a href ui-sref="app.home"><i class="fa fa-dashboard"></i> Home </a>
              </li>
              <li ui-sref-active="active">
                <a href ui-sref="app.member_registration"><i class="fa fa-user"></i> Member Registration </a>
              </li>
              <li ui-sref-active="active">
                <a href ui-sref="app.family_registration"><i class="fa fa-users"></i> Family Registration</a>
              </li>
              <li ui-sref-active="active">
                <a href ui-sref="app.members"><i class="fa fa-group"></i> Members</a>
              </li>
              <li ui-sref-active="active">
                <a href ui-sref="app.families"><i class="fa fa-group"></i> Families</a>
              </li>
              <li ui-sref-active="active">
                <a href ui-sref="app.sms"><i class="fa fa-comment-o"></i> Send SMS </a>
              </li>
              <li ui-sref-active="active">
                <a href ui-sref="app.statistics"><i class="fa fa-area-chart"></i> Statistics </a>
              </li>
              <li ui-sref-active="active">
                <a href ui-sref="app.intentions"><i class="fa fa-file-pdf-o"></i> Mass Intentions </a>
              </li>
              <li ui-sref-active="active">
                <a href ui-sref="app.thanksgiving">
                  <i class="fa fa-circle"></i> Thanksgiving </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
          <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Logout">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
          </a>
        </div>
        <!-- /menu footer buttons -->
      </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
      <div class="nav_menu">
        <nav class="" role="navigation">
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <img src="assets/images/sacc.png" alt="">Sacc Admin
                <span class=" fa fa-angle-down"></span>
              </a>
              <ul class="dropdown-menu dropdown-usermenu pull-right">
                <li><a href ng-click="doLogout()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
      <ui-view name="mainContent"></ui-view>
    <!-- /page content -->

    <!-- footer content -->
    <footer>
      <div class="pull-right">
        ©2016 All Rights Reserved. St Augustine Catholic Chaplaincy Akoka
      </div>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
  </div>

  <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="app-spinner"></span>
</div>
