<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Member Detail</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="row">
            <div class="card">
              <div class="card-block">
                <div class="panel panel-success">
                  <div class="panel-heading left_col clearfix">
                    <h3 class="panel-title pull-left">Family Details</h3>
                    <a href ui-sref="app.family_edit({familyId: family._id})" class="btn btn-info pull-right"><i class="fa fa-pencil"></i> Edit </a>
                  </div>
                  <div class="list-group">
                    <div class="list-group-item">
                      <label>Family Name</label>
                      <h4 class="list-group-item-heading">{{ family.family_name | ucfirst }}</h4>
                    </div>

                    <div class="list-group-item">
                      <label>Phone Number</label>
                      <h4 class="list-group-item-heading">{{ family.phone_number }}</h4>
                    </div>
                  </div>

                  <div class="panel panel-success" ng-if="family.children.length > 0">
                    <div class="panel-heading left_col clearfix">
                      <h3 class="panel-title pull-left">Children </h3>
                      <a href ui-sref="app.family_edit({familyId: family._id})" class="btn btn-info pull-right"><i class="fa fa-pencil"></i> Edit </a>
                    </div>

                    <div class="list-group">
                      <div class="list-group-item" ng-repeat="child in family.children">
                        <div class="row">
                          <div class="col-sm-3">
                            <label>Name</label>
                          </div>
                          <div class="col-sm-9">
                            <h5>{{ child | ucfirst }}</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-success" ng-if="family.dependents.length > 0">
                    <div class="panel-heading left_col clearfix">
                      <h3 class="panel-title pull-left">Dependents </h3>
                      <a href ui-sref="app.family_edit({familyId: family._id})" class="btn btn-info pull-right"><i class="fa fa-pencil"></i> Edit </a>
                    </div>

                    <div class="list-group">
                      <div class="list-group-item" ng-repeat="child in family.dependents">
                        <div class="row">
                          <div class="col-sm-3">
                            <label>Name</label>
                          </div>
                          <div class="col-sm-9">
                            <h5>{{ child | ucfirst }}</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
