<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>{{ title }}</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <form class="form-horizontal form-label-left" novalidate ng-submit="register(registerForm)" name="registerForm">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <br/>
            <div
              ng-class="{'has-error': registerForm.regNo.$invalid && (registerForm.regNo.$dirty||registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="regNo">Registration Number <span
                class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="regNo" type="text" name="regNo" required class="form-control col-md-7 col-xs-12"
                       ng-model="member.reg_no">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-6 col-xs-12" ng-messages="registerForm.regNo.$error" ng-if="(registerForm.$submitted || registerForm.regNo.$dirty) && registerForm.regNo.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.familyname.$invalid && (registerForm.familyname.$touched || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="familyname">Family Name <span
                class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="familyname" name="familyname" ng-model="member.family_name" required
                       class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-6 col-xs-12" ng-messages="registerForm.familyname.$error" ng-if="(registerForm.$submitted || registerForm.familyname.$touched) && registerForm.familyname.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.phone_number.$invalid && (registerForm.phone_number.$dirty||registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone_number">Phone Number <span
                class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input pattern="^234[0-9]+" type="tel" id="phone_number" name="phone_number"
                       ng-model="member.phone_number" required class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-6 col-xs-12" ng-messages="registerForm.phone_number.$error" ng-if="(registerForm.$submitted || registerForm.phone_number.$touched) && registerForm.phone_number.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.phone_number_2.$invalid && (registerForm.phone_number_2.$dirty||registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone_number_2">Phone Number 2</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input pattern="^234[0-9]+" type="tel" id="phone_number_2" name="phone_number_2"
                       ng-model="member.phone_number_2" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-6 col-xs-12" ng-messages="registerForm.phone_number_2.$error" ng-if="(registerForm.$submitted || registerForm.phone_number_2.$touched) && registerForm.phone_number_2.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Children
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <tags-input ng-model="member.children"></tags-input>
                <p class="help-block">Names must be comma-separated</p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Dependents
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <tags-input ng-model="member.dependents"></tags-input>
                <p class="help-block">Names must be comma-separated</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ln_solid"></div>
      <div class="form-group">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <button type="button" class="btn btn-danger">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
