<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Families</h3>
      <button class="btn btn-danger btn-xs" ng-click="clearSearch()"><i class="fa fa-trash"></i> Clear Search </button>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." ng-model="searchField">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="doSearch()">Go!</button>
                    </span>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <table id="datatable" class="table table-striped">
            <thead>
            <tr>
              <th>Reg No</th>
              <th>Family Name</th>
              <th>Phone Number</th>
              <th>No of Children</th>
              <th>No of Dependents</th>
              <th>#Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="family in families">
              <td>{{ family.reg_no }}</td>
              <td>{{ family.family_name | ucfirst }}</td>
              <td>{{ family.phone_number }}</td>
              <td> {{ family.children.length }}</td>
              <td> {{ family.dependents.length }}</td>
              <td>
                <a href ui-sref="app.family({familyId: family._id})" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                <a href ui-sref="app.family_edit({familyId: family._id})" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                <a ng-click="deleteFamily(family)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
