<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Events</h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <h2 class="text-center">{{ calendarTitle }}</h2>

  <div class="row">
    <div class="col-md-6 text-center">
      <div class="btn-group">
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="viewDate"
          decrement="calendarView">
          Previous
        </button>
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="viewDate"
          set-to-today>
          Today
        </button>
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="viewDate"
          increment="calendarView">
          Next
        </button>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <mwl-calendar
        view="calendarView"
        view-date="viewDate"
        events="events"
        view-title="calendarTitle"
        on-timespan-click="onClickG"
        on-view-change-click="onCalendarViewChanged(calendarEvent)"
        cell-is-open="'true'">
      </mwl-calendar>
    </div>
  </div>
</div>
