<div class="">
  <div class="page-title">
    <div class="title_left">
      <h4>Mass Intentions</h4>
      <h3>
        <span class="green">{{ title }}</span>
        <a ng-click="print()"><i class="fa fa-print"></i></a>
      </h3>
    </div>
  </div>

  <div class="title_center">
    <div class="col-md-5 text-center">
      <div class="btn-group">
        <button class="btn btn-xs btn-success" ng-click="filterByMass('all')">All Masses</button>
        <button class="btn btn-xs btn-primary" ng-click="filterByMass('first')">First Mass</button>
        <button class="btn btn-xs btn-warning" ng-click="filterByMass('second')">Second Mass</button>
      </div>
    </div>

  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12">
      <ul class="messages">
        <li ng-repeat="intention in regular_intentions">
          <div class="message_date">
            <h2 class="date text-info" ng-if="intention.mass_pref=='1'">1st</h2>
            <h2 class="date text-info" ng-if="intention.mass_pref=='2'">2nd</h2>
            <p class="month">Mass</p>
          </div>
          <div class="message_wrapper">
            <h3 class="heading">Requested By: {{ intention.requested_by }}</h3>
            <blockquote class="message">
              {{ intention.intention }}
            </blockquote>
            <br />
            <p class="url">
              <a class="btn btn-primary btn-xs" href ui-sref="app.intentions_edit({intentionId: intention.id})" ><i class="fa fa-edit"></i> Edit </a>
              <a class="btn btn-danger btn-xs" ng-click="deleteIntention(intention)"><i class="fa fa-trash-o"></i> Delete </a>
            </p>
            <p class="url">
              Booked On: {{ intention.booked_on | amDateFormat:'dddd, MMMM Do YYYY' }}
            </p>
          </div>
        </li>
      </ul>
      <h1 ng-if="rip_intentions.length > 0">Requiem Intentions</h1>
      <ul class="messages">
        <li ng-repeat="intention in rip_intentions">
          <div class="message_date">
            <h2 class="date text-info" ng-if="intention.mass_pref=='1'">1st</h2>
            <h2 class="date text-info" ng-if="intention.mass_pref=='2'">2nd</h2>
            <p class="month">Mass</p>
          </div>
          <div class="message_wrapper">
            <h3 class="heading">Requested By: {{ intention.requested_by }}</h3>
            <blockquote class="message">
              {{ intention.intention }}
            </blockquote>
            <br />
            <p class="url">
              <a class="btn btn-primary btn-xs" href ui-sref="app.intentions_edit({intentionId: intention.id})" ><i class="fa fa-edit"></i> Edit </a>
              <a class="btn btn-danger btn-xs" ng-click="deleteIntention(intention)"><i class="fa fa-trash-o"></i> Delete </a>
            </p>
            <p class="url">
              Booked On: {{ intention.booked_on | amDateFormat:'dddd, MMMM Do YYYY' }}
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
