<div class="login">
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form name="form" ng-submit="doLogin(form)">
          <h1>Admin Login</h1>
          <div>
            <input type="text" class="form-control" placeholder="Username" required name="username"
                   ng-model="credentials.username"/>
          </div>
          <div>
            <input type="password" class="form-control" placeholder="Password" required name="password"
                   ng-model="credentials.password"/>
          </div>
          <div>
            <button class="btn btn-primary btn-block submit">Log in</button>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <div>
              <h1><i class="fa fa-paw"></i> St Augustine Manager </h1>
              <p>©2016 All Rights Reserved. St Augustine Catholic Chaplaincy Akoka</p>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
