<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>{{ title }}</h3>
      <button ng-if="isEdit" class="btn btn-danger btn-xs" ng-click="deleteIntention()"><i class="fa fa-trash"></i> Delete Intention </button>
    </div>
  </div>
  <div class="clearfix"></div>
  <form class="form-horizontal form-label-left" novalidate ng-submit="saveIntention(registerForm)" name="registerForm">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <br/>
            <div
              ng-class="{'has-error': registerForm.reqBy.$invalid && (registerForm.reqBy.$dirty||registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="reqBy">Requested By <span
                class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="reqBy" type="text" name="reqBy" required class="form-control col-md-7 col-xs-12"
                       ng-model="intention.requested_by">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-6 col-xs-12" ng-messages="registerForm.reqBy.$error" ng-if="(registerForm.$submitted || registerForm.reqBy.$dirty) && registerForm.reqBy.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.intention.$invalid && (registerForm.intention.$touched || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="intention">Intention <span
                class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <textarea rows="5" class="form-control col-md-7 col-xs-12" id="intention" name="intention" required ng-model="intention.intention">
                  {{ intention.intention }}
                </textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-6 col-xs-12" ng-messages="registerForm.intention.$error" ng-if="(registerForm.$submitted || registerForm.intention.$touched) && registerForm.intention.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.intention_type.$invalid && (registerForm.intention_type.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mass_pref">Intention Type<span
                class="required">*</span></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <select name="intention_type" ng-model="intention.intention_type" id="intention_type" class="form-control" required>
                  <option value="regular" ng-selected="intention.intention_type=='regular'">Regular</option>
                  <option value="rip" ng-selected="intention.intention_type=='rip'">RIP</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">
                Start Date
                <span class="required">
                  *
                </span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div uib-datepicker ng-model="intention.starts_at" datepicker-options="startsAtOptions"></div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">
                End Date
                <span class="required">
                  *
                </span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div uib-datepicker ng-model="intention.ends_at" datepicker-options="endsAtOptions"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.mass_pref.$invalid && (registerForm.mass_pref.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mass_pref">Mass Preference<span
                class="required">*</span></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <select name="mass_pref" ng-model="intention.mass_pref" id="mass_pref" class="form-control" required>
                  <option value="1" ng-selected="intention.mass_pref=='1'">First Mass</option>
                  <option value="2" ng-selected="intention.mass_pref=='2'">Second Mass</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.mass_pref.$error" ng-if="(registerForm.$submitted || registerForm.mass_pref.$touched) && registerForm.mass_pref.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ln_solid"></div>
      <div class="form-group">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <button type="button" class="btn btn-danger">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
