<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>{{ title }}</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <form class="form-horizontal form-label-left" novalidate ng-submit="register(registerForm)" name="registerForm">
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Member Information</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br/>
            <div
              ng-class="{'has-error': registerForm.regNo.$invalid && (registerForm.regNo.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="regNo">Chap. Reg Number
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="regNo" type="text" name="regNo" class="form-control col-md-7 col-xs-12"
                       ng-model="member.reg_no">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.regNo.$error" ng-if="(registerForm.$submitted || registerForm.regNo.$touched) && registerForm.regNo.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.firstname.$invalid && (registerForm.firstname.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="firstname">First Name <span
                class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="firstname" name="firstname" ng-model="member.firstname" required
                       class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.firstname.$error" ng-if="(registerForm.$submitted || registerForm.firstname.$touched) && registerForm.firstname.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.lastname.$invalid && (registerForm.lastname.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lastame">Last Name <span
                class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="lastname" name="lastname" ng-model="member.lastname" required
                       class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.lastname.$error" ng-if="(registerForm.$submitted || registerForm.lastname.$touched) && registerForm.lastname.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>


            <div
              ng-class="{'has-error': registerForm.address.$invalid && (registerForm.address.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">Address <span
                class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="address" name="address" ng-model="member.address" required
                       class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.address.$error" ng-if="(registerForm.$submitted || registerForm.address.$touched) && registerForm.address.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.phone_number.$invalid && (registerForm.phone_number.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone_number">Phone Number <span
                class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input pattern="^234[0-9]+" type="tel" id="phone_number" name="phone_number"
                       ng-model="member.phone_number" required class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.phone_number.$error" ng-if="(registerForm.$submitted || registerForm.phone_number.$touched) && registerForm.phone_number.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.phone_number_2.$invalid && (registerForm.phone_number_2.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone_number_2">Phone Number 2</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input pattern="^234[0-9]+" type="tel" id="phone_number_2" name="phone_number_2"
                       ng-model="member.phone_number_2" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.phone_number_2.$error" ng-if="(registerForm.$submitted || registerForm.phone_number_2.$touched) && registerForm.phone_number_2.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.email.$invalid && (registerForm.email.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="email" id="email" name="email" ng-model="member.email"
                       class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.email.$error" ng-if="(registerForm.$submitted || registerForm.email.$touched) && registerForm.email.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.occupation.$invalid && (registerForm.occupation.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="occupation">Occupation
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="occupation" name="occupation" ng-model="member.occupation"
                       class="form-control col-md-7 col-xs-12" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.occupation.$error" ng-if="(registerForm.$submitted || registerForm.occupation.$touched) && registerForm.occupation.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.gender.$invalid && (registerForm.gender.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gender">Gender<span
                class="required">*</span></label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="gender" ng-model="member.gender" id="gender" class="form-control" required>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.gender.$error" ng-if="(registerForm.$submitted || registerForm.gender.$touched) && registerForm.gender.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="blood_group">Blood Group</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="blood_group" ng-model="member.blood_group" id="blood_group" class="form-control">
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="AB">AB</option>
                  <option value="O+">O+</option>
                  <option value="O-">O-</option>
                </select>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.birth_month.$invalid && (registerForm.birth_month.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="birth_month">Birth Month</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="birth_month" ng-model="member.birth_month" id="birth_month" class="form-control">
                  <option ng-repeat="month in months" value="{{ month.val }}">{{ month.name }}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.birth_month.$error" ng-if="(registerForm.$submitted || registerForm.birth_month.$touched) && registerForm.birth_month.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.birth_day.$invalid && (registerForm.birth_day.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="birth_day">Birth Day</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="birth_day" ng-model="member.birth_day" id="birth_day" class="form-control">
                  <option ng-repeat="day in days" value="{{ day }}">{{ day }}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.birth_year.$error" ng-if="(registerForm.$submitted || registerForm.birth_year.$touched) && registerForm.birth_year.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.age_group.$invalid && (registerForm.age_group.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="age_group">Age Group</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="age_group" ng-model="member.age_group" id="age_group" class="form-control">
                  <option ng-repeat="(id, group) in age_groups" value="{{ group.id }}">{{ group.name }}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.age_group.$error" ng-if="(registerForm.$submitted || registerForm.age_group.$touched) && registerForm.age_group.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.country.$invalid && (registerForm.country.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="country">Country<span
                class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="country" name="country" ng-model="member.country"
                       class="form-control col-md-7 col-xs-12" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.country.$error" ng-if="(registerForm.$submitted || registerForm.country.$touched) && registerForm.country.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="state_of_origin">State of Origin<span
                class="required">*</span></label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="state_of_origin" ng-model="member.state_of_origin" id="state_of_origin"
                        class="form-control" required>
                  <option ng-repeat="state in states" value="{{ state.smallcase }}">{{ state.ucfirst }}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="town">Town</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="town" name="town" ng-model="member.town" class="form-control col-md-7 col-xs-12">
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.year_joined.$invalid && (registerForm.year_joined.$dirty|| registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="year_joined">Year of Joining Chap.</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input pattern="[0-9]+" type="text" id="year_joined" name="year_joined" ng-model="member.year_joined"
                       class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.year_joined.$error" ng-if="(registerForm.$submitted || registerForm.year_joined.$touched) && registerForm.year_joined.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Orgs., Societies, Movements</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                  <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6" ng-repeat="(id, org) in member.organizations">
                    <label class="checkbox-inline">
                      <input type="checkbox" ng-model="member.organizations[id].selected">{{ org.abrev }}
                    </label>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Sacramental Information</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br/>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Baptised</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                  <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                    <label class="checkbox-inline">
                      <input name="baptised"  type="checkbox" ng-model="member.sacraments.baptism.status">Yes
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.sacrament_baptism_parish.$invalid && (registerForm.sacrament_baptism_parish.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sacrament_baptism_parish">
                Parish Baptised <span ng-if="member.sacraments.baptism.status" class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="sacrament_baptism_parish" name="sacrament_baptism_parish"
                       ng-model="member.sacraments.baptism.parish_of_reception" ng-required="member.sacraments.baptism.status"
                       ng-disabled="!member.sacraments.baptism.status" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.sacrament_baptism_parish.$error" ng-if="(registerForm.$submitted || registerForm.sacrament_baptism_parish.$touched) && registerForm.sacrament_baptism_parish.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.sacrament_baptism_town.$invalid && (registerForm.sacrament_baptism_town.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sacrament_baptism_town">
                State/Town Baptised <span ng-if="member.sacraments.baptism.status" class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="sacrament_baptism_town" name="sacrament_baptism_town"
                       ng-model="member.sacraments.baptism.town_of_reception" ng-required="member.sacraments.baptism.status"
                       ng-disabled="!member.sacraments.baptism.status" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.sacrament_baptism_town.$error" ng-if="(registerForm.$submitted || registerForm.sacrament_baptism_town.$touched) && registerForm.sacrament_baptism_town.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.sacrament_baptism_year.$invalid && (registerForm.sacrament_baptism_year.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sacrament_baptism_year">
                Year Baptised <span ng-if="member.sacraments.baptism.status" class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="sacrament_baptism_year" name="sacrament_baptism_year"
                       ng-model="member.sacraments.baptism.year_of_reception" ng-required="member.sacraments.baptism.status"
                       ng-disabled="!member.sacraments.baptism.status" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.sacrament_baptism_year.$error" ng-if="(registerForm.$submitted || registerForm.sacrament_baptism_year.$touched) && registerForm.sacrament_baptism_year.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <br/>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Communicant</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                  <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                    <label class="checkbox-inline">
                      <input name="communion"  type="checkbox" ng-model="member.sacraments.communion.status">Yes
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.sacrament_communion_parish.$invalid && (registerForm.sacrament_communion_parish.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sacrament_communion_parish">
                Parish of Holy Communion <span ng-if="member.sacraments.communion.status" class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="sacrament_communion_parish" name="sacrament_communion_parish"
                       ng-model="member.sacraments.communion.parish_of_reception" ng-required="member.sacraments.communion.status"
                       ng-disabled="!member.sacraments.communion.status" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.sacrament_communion_parish.$error" ng-if="(registerForm.$submitted || registerForm.sacrament_communion_parish.$touched) && registerForm.sacrament_communion_parish.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.sacrament_communion_town.$invalid && (registerForm.sacrament_communion_town.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sacrament_communion_town">
                State/Town of Holy Communion <span ng-if="member.sacraments.communion.status" class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="sacrament_communion_town" name="sacrament_communion_town"
                       ng-model="member.sacraments.communion.town_of_reception" ng-required="member.sacraments.communion.status"
                       ng-disabled="!member.sacraments.communion.status" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.sacrament_communion_town.$error" ng-if="(registerForm.$submitted || registerForm.sacrament_communion_town.$touched) && registerForm.sacrament_communion_town.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.sacrament_communion_year.$invalid && (registerForm.sacrament_communion_year.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sacrament_communion_year">
                Year of Holy Communion <span ng-if="member.sacraments.communion.status" class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="sacrament_communion_year" name="sacrament_communion_year"
                       ng-model="member.sacraments.communion.year_of_reception" ng-required="member.sacraments.communion.status"
                       ng-disabled="!member.sacraments.communion.status" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.sacrament_communion_year.$error" ng-if="(registerForm.$submitted || registerForm.sacrament_communion_year.$touched) && registerForm.sacrament_communion_year.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <br/>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Confirmed</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                  <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                    <label class="checkbox-inline">
                      <input name="confirmed"  type="checkbox" ng-model="member.sacraments.confirmation.status">Yes
                    </label>
                  </div>
                </div>
              </div>
            </div>


            <div
              ng-class="{'has-error': registerForm.sacrament_confirmation_parish.$invalid && (registerForm.sacrament_confirmation_parish.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sacrament_communion_parish">
                Parish of Confirmation<span ng-if="member.sacraments.confirmation.status" class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="sacrament_confirmation_parish" name="sacrament_confirmation_parish"
                       ng-model="member.sacraments.confirmation.parish_of_reception" ng-required="member.sacraments.confirmation.status"
                       ng-disabled="!member.sacraments.confirmation.status" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.sacrament_confirmation_parish.$error" ng-if="(registerForm.$submitted || registerForm.sacrament_confirmation_parish.$touched) && registerForm.sacrament_confirmation_parish.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.sacrament_confirmation_town.$invalid && (registerForm.sacrament_confirmation_town.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sacrament_confirmation_town">
                State/Town of Confirmation <span ng-if="member.sacraments.confirmation.status" class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="sacrament_confirmation_town" name="sacrament_confirmation_town"
                       ng-model="member.sacraments.confirmation.town_of_reception" ng-required="member.sacraments.confirmation.status"
                       ng-disabled="!member.sacraments.confirmation.status" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.sacrament_confirmation_town.$error" ng-if="(registerForm.$submitted || registerForm.sacrament_confirmation_town.$touched) && registerForm.sacrament_confirmation_town.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.sacrament_confirmation_year.$invalid && (registerForm.sacrament_confirmation_year.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sacrament_confirmation_year">
                Year of Confirmation <span ng-if="member.sacraments.confirmation.status" class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="sacrament_confirmation_year" name="sacrament_confirmation_year"
                       ng-model="member.sacraments.confirmation.year_of_reception" ng-required="member.sacraments.confirmation.status"
                       ng-disabled="!member.sacraments.confirmation.status" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.sacrament_confirmation_year.$error" ng-if="(registerForm.$submitted || registerForm.sacrament_confirmation_year.$touched) && registerForm.sacrament_confirmation_year.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <br/>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Married</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                  <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                    <label class="checkbox-inline">
                      <input name="marriage"  type="checkbox" ng-model="member.sacraments.marriage.status">Yes
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.sacrament_marriage_parish.$invalid && (registerForm.sacrament_marriage_parish.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sacrament_marriage_parish">
                Parish of Marriage<span ng-if="member.sacraments.marriage.status" class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="sacrament_marriage_parish" name="sacrament_marriage_parish"
                       ng-model="member.sacraments.marriage.parish_of_reception" ng-required="member.sacraments.marriage.status"
                       ng-disabled="!member.sacraments.marriage.status" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.sacrament_marriage_parish.$error" ng-if="(registerForm.$submitted || registerForm.sacrament_marriage_parish.$touched) && registerForm.sacrament_marriage_parish.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.sacrament_marriage_town.$invalid && (registerForm.sacrament_marriage_town.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sacrament_marriage_town">
                State/Town of Marriage <span ng-if="member.sacraments.confirmation.status" class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="sacrament_marriage_town" name="sacrament_marriage_town"
                       ng-model="member.sacraments.marriage.town_of_reception" ng-required="member.sacraments.marriage.status"
                       ng-disabled="!member.sacraments.marriage.status" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.sacrament_marriage_town.$error" ng-if="(registerForm.$submitted || registerForm.sacrament_marriage_town.$touched) && registerForm.sacrament_marriage_town.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.sacrament_marriage_year.$invalid && (registerForm.sacrament_marriage_year.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sacrament_marriage_year">
                Year of Marriage <span ng-if="member.sacraments.marriage.status" class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="sacrament_marriage_year" name="sacrament_marriage_year"
                       ng-model="member.sacraments.marriage.year_of_reception" ng-required="member.sacraments.marriage.status"
                       ng-disabled="!member.sacraments.marriage.status" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.sacrament_marriage_year.$error" ng-if="(registerForm.$submitted || registerForm.sacrament_marriage_year.$touched) && registerForm.sacrament_marriage_year.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.sacrament_marriage_month.$invalid && (registerForm.sacrament_marriage_month.$dirty || registerForm.$submitted )}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sacrament_marriage_month">Month of Marriage<span
                class="required" ng-if="member.sacraments.marriage.status">*</span></label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="sacrament_marriage_month" ng-model="member.sacraments.marriage.month_of_reception"
                        ng-disabled="!member.sacraments.marriage.status" id="sacrament_marriage_month" class="form-control" ng-required="member.sacraments.marriage.status">
                  <option ng-repeat="month in months" value="{{ month.val }}">{{ month.name }}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.sacrament_marriage_month.$error" ng-if="(registerForm.$submitted || registerForm.sacrament_marriage_month.$touched) && registerForm.sacrament_marriage_month.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

            <div
              ng-class="{'has-error': registerForm.sacrament_marriage_day.$invalid && (registerForm.sacrament_marriage_day.$dirty || registerForm.$submitted)}"
              class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sacrament_marriage_day">Day of Marriage<span
                class="required" ng-if="member.sacraments.marriage.status">*</span></label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="sacrament_marriage_day" ng-model="member.sacraments.marriage.day_of_reception"
                        ng-disabled="!member.sacraments.marriage.status" id="sacrament_marriage_day" class="form-control" ng-required="member.sacraments.marriage.status">
                  <option ng-repeat="day in days" value="{{ day }}">{{ day }}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-9 col-xs-12 col-xs-offset-0" ng-messages="registerForm.sacrament_marriage_day.$error" ng-if="(registerForm.$submitted || registerForm.sacrament_marriage_day.$touched) && registerForm.sacrament_marriage_day.$invalid ">
                <div ng-messages-include="assets/templates/form-errors.html"></div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="ln_solid"></div>
      <div class="form-group">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <button type="button" class="btn btn-danger">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>
  </div>

</div>
