<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Members</h3>
      <button class="btn btn-primary btn-xs" ng-click="sendSMS()"><i class="fa fa-search"></i> Send SMS </button>
      <button class="btn btn-success btn-xs" ng-click="exportExcel()"><i class="fa fa-file-excel-o"></i> Excel Export </button>
      <button class="btn btn-danger btn-xs" ng-click="clearSearch()"><i class="fa fa-trash"></i> Clear Search </button>
    </div>

    <div class="title_center">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <span class="input-group-btn" uib-dropdown>
            <button id="search-dropdown"  uib-dropdown-toggle class="btn-left btn btn-default dropdown-toogle" type="button" ><i class="fa fa-angle-down"></i></button>
            <ul class="dropdown-menu dropdown-menu-left"  uib-dropdown-menu aria-labelledby="search-dropdown" style="min-width: 350px">
                  <form class="form-horizontal padding" role="form">
                    <div class="form-group">
                      <label>Filter by</label>
                      <select class="form-control" ng-model="searchType">
                        <option value="1">Name</option>
                        <option value="2">Organization</option>
                        <option value="3">Sacraments</option>
                        <option value="4">Age Group</option>
                        <option value="5">Occupation</option>
                      </select>
                    </div>
                    <div class="form-group" ng-show="searchType == 2">
                      <label>Organizations/Societies/Movements</label>
                      <select class="form-control" ng-model="searchOrgFilterId">
                        <option value="{{ id }}" ng-repeat="(id,org) in organizations">{{ org.name }}</option>
                      </select>
                    </div>
                    <div class="form-group" ng-show="searchType == 3">
                      <label>Sacraments</label>
                      <select class="form-control" ng-model="searchSacFilterId">
                        <option value="{{ id }}" ng-repeat="(id,sac) in sacraments ">{{ sac.name }}</option>
                      </select>
                    </div>
                    <div class="form-group" ng-show="searchType == 4">
                      <label>Age Group</label>
                      <select class="form-control" ng-model="searchAgeFilterId">
                        <option ng-repeat="(id,age) in age_groups" value="{{ id }}">{{ age.name }}</option>
                      </select>
                    </div>
                  </form>
            </ul>
          </span>
          <input type="text" class="form-control" placeholder="Search for..." ng-model="searchField">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="doSearch()" >Go!</button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <table id="datatable" class="table table-striped">
            <thead>
            <tr>
              <th>Reg No</th>
              <th>First Name</th>
              <th>First Lastname</th>
              <th>Gender</th>
              <th>Phone No.</th>
              <th>#Edit</th>
            </tr>
            </thead>


            <tbody>
            <tr ng-repeat="member in members">
              <td>{{ member.reg_no }}</td>
              <td>{{ member.firstname | ucfirst }}</td>
              <td>{{ member.lastname | ucfirst }}</td>
              <td>{{ member.gender | ucfirst }}</td>
              <td>{{member.phone_number}}</td>
              <td>
                <a href ui-sref="app.member({memberId: member._id})" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                <a href ui-sref="app.member_edit({memberId: member._id})" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                <a ng-click="deleteMember(member)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
