<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Member Detail</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="row">
            <div class="card">
              <div class="card-block">
                <div class="panel panel-success">
                  <div class="panel-heading left_col clearfix">
                    <h3 class="panel-title pull-left">Member Personal Details</h3>
                    <a href ui-sref="app.member_edit({memberId: member._id})" class="btn btn-info pull-right"><i class="fa fa-pencil"></i> Edit </a>
                  </div>
                  <div class="list-group">
                    <div class="list-group-item">
                      <label>Firstname</label>
                      <h4 class="list-group-item-heading">{{ member.firstname | ucfirst }}</h4>
                    </div>

                    <div class="list-group-item">
                      <label>Lastname</label>
                      <h4 class="list-group-item-heading">{{ member.lastname | ucfirst }}</h4>
                    </div>

                    <div class="list-group-item">
                      <label>Chaplaincy Reg No</label>
                      <h4 class="list-group-item-heading">{{ member.reg_no }}</h4>
                    </div>

                    <div class="list-group-item">
                      <label>Address</label>
                      <h4 class="list-group-item-heading">{{ member.address | ucfirst }}</h4>
                    </div>

                    <div class="list-group-item">
                      <label>Phone Number</label>
                      <h4 class="list-group-item-heading">{{ member.phone_number }}</h4>
                    </div>

                    <div class="list-group-item">
                      <label>Alternate Phone number</label>
                      <h4 class="list-group-item-heading">{{ member.phone_number_2 }}</h4>
                    </div>

                    <div class="list-group-item" >
                      <label>Email</label>
                      <h4 class="list-group-item-heading">{{ member.email }}</h4>
                    </div>

                    <div class="list-group-item" >
                      <label>Occupation</label>
                      <h4 class="list-group-item-heading">{{ member.occupation | ucfirst }}</h4>
                    </div>

                    <div class="list-group-item" >
                      <label>Gender</label>
                      <h4 class="list-group-item-heading">{{ member.gender | ucfirst }}</h4>
                    </div>

                    <div class="list-group-item" >
                      <label>Blood Group</label>
                      <h4 class="list-group-item-heading">{{ member.blood_group }}</h4>
                    </div>

                    <div class="list-group-item" >
                      <label>Birth Day/Month</label>
                      <h4 class="list-group-item-heading">{{ member.date_of_birth}}</h4>
                    </div>

                    <div class="list-group-item" >
                      <label>Age Range</label>
                      <h4 class="list-group-item-heading">{{ member.age_group.name }}</h4>
                    </div>

                    <div class="list-group-item" >
                      <label>Country</label>
                      <h4 class="list-group-item-heading">{{ member.country | ucfirst }}</h4>
                    </div>

                    <div class="list-group-item" >
                      <label>State of Origin</label>
                      <h4 class="list-group-item-heading">{{ member.state_of_origin | ucfirst }}</h4>
                    </div>

                    <div class="list-group-item" >
                      <label>Home Town / Village</label>
                      <h4 class="list-group-item-heading">{{ member.town | ucfirst }}</h4>
                    </div>

                    <div class="list-group-item" >
                      <label>Year of Joining Chaplaincy</label>
                      <h4 class="list-group-item-heading">{{ member.year_joined }}</h4>
                    </div>

                  </div>

                  <div class="panel panel-success" ng-if="member.sacraments.length > 0">
                    <div class="panel-heading left_col clearfix">
                      <h3 class="panel-title pull-left">Member Sacramental Details</h3>
                      <a href ui-sref="app.member_edit({memberId: member._id})" class="btn btn-info pull-right"><i class="fa fa-pencil"></i> Edit </a>
                    </div>

                    <div class="list-group">
                      <div class="list-group-item" ng-repeat="sacrament in member.sacraments">
                        <h4 class="list-group-item-heading">{{ sacrament.name | ucfirst }}</h4>
                        <div class="row">
                          <div class="col-sm-3">
                            <label>Parish/Town of Reception</label>
                          </div>
                          <div class="col-sm-9">
                            <h5>{{ sacrament.parish_of_reception | ucfirst }} / {{ sacrament.town_of_reception | ucfirst }}</h5>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-3">
                            <label>Year of reception</label>
                          </div>
                          <div class="col-sm-9">
                            <h5><em>{{ sacrament.year_of_reception }}</em></h5>
                          </div>
                        </div>
                        <div class="row" ng-if="sacrament.month_of_reception">
                          <div class="col-sm-3">
                            <label>Month of reception</label>
                          </div>
                          <div class="col-sm-9">
                            <h5><em>{{ sacrament.month_of_reception }}</em></h5>
                          </div>
                        </div>
                        <div class="row" ng-if="sacrament.day_of_reception">
                          <div class="col-sm-3">
                            <label>Day of reception</label>
                          </div>
                          <div class="col-sm-9">
                            <h5><em>{{ sacrament.day_of_reception }}</em></h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-success" ng-if="member.organizations.length > 0">
                    <div class="panel-heading left_col clearfix">
                      <h3 class="panel-title pull-left">Member Society Details</h3>
                      <a href ui-sref="app.member_edit({memberId: member._id})" class="btn btn-info pull-right"><i class="fa fa-pencil"></i> Edit </a>
                    </div>
                    <div class="panel-body">
                      <ul>
                        <li ng-repeat="org in member.organizations | orderBy: 'name'">
                          {{ org.name | ucfirst }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
