<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Send SMS</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <form class="form-horizontal form-label-left" novalidate ng-submit="sendSMS(form)" name="form">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <br/>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="message">Message
              </label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea class="form-control" rows="7" id="message" name="message" ng-model="sms.message"
                          required></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Recipients
              </label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea class="form-control" rows="10" id="recipients" name="recipients" ng-model="sms.recipients"
                          required></textarea>
                <p class="help-block">Numbers must be comma-separated</p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="ln_solid"></div>
      <div class="form-group">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <button type="button" class="btn btn-danger">Cancel</button>
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>
    </div>
  </form>
</div>
