<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Statistics</h3>
      <button class="btn btn-primary btn-xs" ng-click="refreshStats()"><i class="fa fa-refresh"></i> Refresh </button>
    </div>
  </div>

  <div class="clearfix"></div>

  <!-- top tiles -->
  <div class="row tile_count">
    <div class="col-md-3 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Members</span>
      <div class="count green">{{ members_total }}</div>
    </div>
    <div class="col-md-3 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Families</span>
      <div class="count green">{{ families_total }}</div>
    </div>
    <div class="col-md-3 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Male</span>
      <div class="count green">{{ male_total }}</div>
    </div>
    <div class="col-md-3 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Female</span>
      <div class="count green">{{ female_total }}</div>
    </div>
  </div>

  <div class="row tile_count">
    <div class="col-md-3 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Baptised</span>
      <div class="count green">{{ baptised_total }}</div>
    </div>
    <div class="col-md-3 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Communicants</span>
      <div class="count green">{{ communicant_total }}</div>
    </div>
    <div class="col-md-3 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Confirmed</span>
      <div class="count green">{{ confirmed_total }}</div>
    </div>
    <div class="col-md-3 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Married</span>
      <div class="count green">{{ married_total }}</div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading left_col ">
          <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Age Classification</h3>
        </div>
        <div class="panel-body" ng-if="age_data">
          <canvas id="age-pie" class="chart chart-pie" chart-data="age_data" chart-labels="age_labels" chart-options="config">
          </canvas>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading left_col">
          <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> States Classification</h3>
        </div>
        <div class="panel-body" ng-if="states_data">
          <canvas id="states-pie" class="chart chart-pie" chart-data="states_data" chart-labels="states_labels" chart-options="config">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading left_col">
          <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Societies</h3>
        </div>
        <div class="panel-body" ng-if="org_data">
          <canvas id="orgs-chart" class="chart chart-bar" chart-data="org_data" chart-labels="org_labels">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
