<div class="">
  <div class="page-title">
    <div class="title_left">
      <h4>Wedding Anniversaries</h4>
      <h3 class="green">{{ title }}</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="table">
        <thead>
        <tr>
          <th>Full Name</th>
          <th>Phone Number</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="member in members">
          <td>{{ member.fullname | ucfirst}}</td>
          <td>{{ member.phone_number| ucfirst }}</td>
          <td><a href ui-sref="app.member({memberId: member._id})" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
